In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
# URL to scrape
url = 'https://www.scrapethissite.com/pages/forms/'

response = requests.get(url)
# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

In [5]:
# Find the table and extract rows
table = soup.find('table')  # Since there's only one table
rows = table.find_all('tr')

In [10]:
# Extract table headers
headers = [th.text.strip() for th in rows[0].find_all('th')]

# Extract table rows
data = []
for row in rows[1:]:
    cols = row.find_all('td')
    data.append([col.text.strip() for col in cols])

# Save data to CSV
df = pd.DataFrame(data, columns=headers)
df.to_csv('scraped_data.csv', index=False)
print('Data saved to scraped_data.csv')

AttributeError: 'list' object has no attribute 'find_all'

In [9]:
df = pd.DataFrame(rows, columns=headers)
df.head()

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25